/* Sidebar styling */
.sidebar {
  position:fixed;
  top:20;
  left:0;
  height: 100vh;
    width: 60px;
    background-color: #2a65d8; /* Blue background */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-nav{
    list-style: none;
    padding:0;
    margin: 0;
    width:100%
  }
  .sidebar-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  .sidebar-list.active{
    background-color: #06447a;
    color: #fff;
  }
  .sidebar-list a {
    font-size: 20px; /* Size of the icons */
    text-decoration: none;
    color: inherit;
  }